body {
    background-color: black;
    color: orange;
    font-family: 'Courier Prime', monospace;
}

main {
    width: 40%;
    margin: 100px auto;
    padding: 10px;
    border: double 5px orange;
    border-radius: 5px;
    text-align: justify;
}

section.menu {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.column {
  text-align: left;
  float: left;
  width: 33.33%;
}

.twocolumn {
  float: left;
  width: 48%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  overflow:auto;
}

emph {
    color: red;
}

hr {
    color:orange;
}

a:link {
color: rgb(189, 123, 0);
text-decoration: none;
}
a:visited {
color: darkred;
}
a:hover {
color: #f8ec45;
}

