body {
    background-color: black;
    color: yellowgreen;
    font-family: 'Courier Prime', monospace;
}

main {
    width: 40%;
    margin: 100px auto;
    padding: 10px;
    border: double 5px yellowgreen;
    border-radius: 5px;
    text-align: justify;
}

section.menu {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  overflow:auto;
}

emph {
    color: cyan;
}

hr {
    color:green;
}

a:link {
color: yellowgreen;
text-decoration: none;
}
a:visited {
color: green;
}
a:hover {
color: #f8ec45;
}

