body {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier Prime', monospace;
}

main {
    width: 40%;
    margin: 100px auto;
    padding: 20px;
    border: solid 2px green;
    background-color: rgb(6, 12, 0);
    text-align: justify;
}

pre {
    font-size: 1vw;
}

emph {
    color: rgb(255, 0, 0);
}

hr {
    color:green;
}

a:link {
    color: greenyellow;
    text-decoration: none;
}
a:visited {
    color: green;
}
a:hover {
    color:yellow;
}